/* ==== BROWSER RESETS  ==== */
* { padding: 0; margin: 0; border: 0; font-weight: normal; font-size: 16px }

body, html { height: 100% } 

body { max-width: 1600px; margin: 0 auto }

p { 
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
 }

 h1 {
    
    font-family: 'Mansalva', cursive;

 }

 h2 {
    
    font-family: 'Mansalva', cursive;
   

 }

 h3 {
    
    font-family: 'Mansalva', cursive;
    

 }

 p { 
    
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
  

 }

 /* ==== BULLETS ==== */

ul li, ol li {
    font-family: sans-serif;
    font-weight: normal;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}

/* Mobiles */
@media all and (max-width:767px) {
    ul, ol { margin-left: 5% }
    ul li, ol li {
       line-height: 1.5;
       margin-bottom: 5%;
    }
}
 
/* Desktop */
@media all and (min-width:768px) {
    ul, ol { margin-left: 2% }
    ul li, ol li {
       line-height: 1.6;
       margin-bottom: 2%;
    }
}